<style>
  td, table{
        border: black solid 2px;
        color: black;
    }
</style>
<div class="container">
  <div class="row">
    <div class="col-3">
      <div id="fantasyRankings">
        <h3>
          Fantasy Rankings
        </h3>
        <select class="selectTeam">
          <option class="positions" value="Select a position!">
            Select a position
          </option>
          <option class="teamPicked" value="runningBack" id="allPos">
            All
          </option>
          <option class="teamPicked" value="runningBack" id="qbPos">
            Quarter Back
          </option>
          <option class="teamPicked" value="runningBack" id="rbPos">
            Running Back
          </option>
          <option class="teamPicked" value="runningBack" id="wrPos">
            Wide Reciever
          </option>
          <option class="teamPicked" value="runningBack" id="tePos">
            Tight End
          </option>
          <option class="teamPicked" value="runningBack" id="kPos">
            Kicker
          </option>
          <option class="teamPicked" value="runningBack" id="defPos">
            Defense
          </option>
        </select>
        <ol>
          <li>
            Leveon Bell
          </li>
          <li>
            Todd Gurley
          </li>
          <li>
            Ezekiel Elliot
          </li>
          <li>
            David Johnson
          </li>
          <li>
            Antonio Brown
          </li>
          <li>
            Alvin Kamara
          </li>
          <li>
            Saquon Barkey
          </li>
          <li>
            Deandre Hopkins
          </li>
          <li>
            Kareem Hunt
          </li>
          <li>
            Melvin Gordon
          </li>
          <li>
            Leonard Fournett
          </li>
          <li>
            Odell Beckham
          </li>
          <li>
            Julio Jones
          </li>
          <li>
            Michael Thomas
          </li>
          <li>
            Dalvin Cook
          </li>
          <li>
            Keenan Allen
          </li>
          <li>
            Lesean McCoy
          </li>
          <li>
            Devonta Freeman
          </li>
          <li>
            Christian McCaffrey
          </li>
          <li>
            A.J. Green
          </li>
          <li>
            Rob Gronkowski
          </li>
          <li>
            Devante Adams
          </li>
          <li>
            Adam Thielen
          </li>
          <li>
            Mike Evans
          </li>
          <li>
            Travis Kelce
          </li>
          <li>
            Larry Fitzgerald
          </li>
          <li>
            Jerrock Mckinnon
          </li>
          <li>
            Tyreke Hill
          </li>
          <li>
            T.Y. Hilton
          </li>
          <li>
            Jordan Howard
          </li>
          <li>
            Aaron Rodgers
          </li>
          <li>
            Doug Baldwin
          </li>
          <li>
            Zach Ertz
          </li>
          <li>
            Kenyan Drake
          </li>
          <li>
            Reshad Penny
          </li>
          <li>
            Tom Brady
          </li>
          <li>
            Juju Smith-Schuster
          </li>
          <li>
            Joe Mixon
          </li>
          <li>
            Alex Collins
          </li>
          <li>
            Stefon Diggs
          </li>
          <li>
            Demaryius Thomas
          </li>
          <li>
            Desaun Watson
          </li>
          <li>
            Derrick Henry
          </li>
          <li>
            Allen Robinson
          </li>
          <li>
            Josh Gordon
          </li>
          <li>
            Jay Ajayi
          </li>
          <li>
            Russel Wilson
          </li>
          <li>
            Greg Olsen
          </li>
          <li>
            Amari Cooper
          </li>
          <li>
            Golden Tate
          </li>
          <li>
            Jimmy Graham
          </li>
          <li>
            Lamar Miller
          </li>
          <li>
            Evan Engram
          </li>
          <li>
            Mark Ingram
          </li>
          <li>
            Jarvis Landry
          </li>
          <li>
            Cam Newton
          </li>
          <li>
            Carson Wentz
          </li>
          <li>
            Delanie Walker
          </li>
          <li>
            Derrius Guice
          </li>
          <li>
            Jacksonville Jaguars Defense
          </li>
        </ol>
      </div>
    </div>
    <div class="col-5">
      <h2>
        NFLevate Power Rankings-
      </h2>
      <br />
      <ol>
        <li>
          Phillidelphia Eagles
        </li>
        <li>
          New England Patriots
        </li>
        <li>
          Minnesota Vikings
        </li>
        <li>
          Los Angeles Rams
        </li>
        <li>
          Pittsburgh Steelers
        </li>
        <li>
          Atlanta Falcons
        </li>
        <li>
          New Orleans Saints
        </li>
        <li>
          Jacksonville Jaguars
        </li>
        <li>
          Kansas City Chiefs
        </li>
        <li>
          Green Bay Packers
        </li>
        <li>
          New York Giants
        </li>
        <li>
          Los Angeles Chargers
        </li>
        <li>
          Houston Texans
        </li>
        <li>
          Carolina Panthers
        </li>
        <li>
          San Fransisco 49ers
        </li>
        <li>
          Tennessee Titans
        </li>
        <li>
          Detroit Lions
        </li>
        <li>
          Chicago Bears
        </li>
        <li>
          Seattle Seahawks
        </li>
        <li>
          Dallas Cowboys
        </li>
        <li>
          Indiannapolis Colts
        </li>
        <li>
          Denver Broncos
        </li>
        <li>
          Arizona Cardinals
        </li>
        <li>
          New York Jets
        </li>
        <li>
          Washington Redskins
        </li>
        <li>
          Baltimore Ravens
        </li>
        <li>
          Cincinnati Bengals
        </li>
        <li>
          Tampa Bay Buccaneers
        </li>
        <li>
          Oakland Raiders
        </li>
        <li>
          Miami Dolphins
        </li>
        <li>
          Buffalo Bills
        </li>
      </ol>
    </div>
    <div class="col-4">
      <h2>
        NFL Awards Frontrunners-
      </h2>
      <br />
      <h4>
        MVP Race:
      </h4>
      <table style="width:100%; border:black 2px solid;">
        <tr>
          <th>
            Player
          </th>
          <th>
            Odds
          </th>
        </tr>
        <tr>
          <td>
            Aaron Rodgers
          </td>
          <td>
            4:1
          </td>
        </tr>
        <tr>
          <td>
            Matt Ryan
          </td>
          <td>
            5:1
          </td>
        </tr>
        <tr>
          <td>
            Tom Brady
          </td>
          <td>
            7:1
          </td>
        </tr>
        <tr>
          <td>
            Antonio Brown
          </td>
          <td>
            15:2
          </td>
        </tr>
        <tr>
          <td>
            Ben Roethlisberger
          </td>
          <td>
            12:1
          </td>
        </tr>
      </table>
      <br />
      <br />
      <h4>
        Offensive Rookie of the Year::
      </h4>
      <table style="width:100%; border:black 2px solid;">
        <tr>
          <th>
            Player
          </th>
          <th>
            Odds
          </th>
        </tr>
        <tr>
          <td>
            Saquon Barkley
          </td>
          <td>
            5:2
          </td>
        </tr>
        <tr>
          <td>
            Baker Mayfield
          </td>
          <td>
            5:1
          </td>
        </tr>
        <tr>
          <td>
            Rashad Penny
          </td>
          <td>
            6:1
          </td>
        </tr>
        <tr>
          <td>
            Sony Mitchell
          </td>
          <td>
            7:1
          </td>
        </tr>
        <tr>
          <td>
            Lamar Jackson
          </td>
          <td>
            13:1
          </td>
        </tr>
      </table>
      <br />
      <br />
      <h4>
        Defensive Player of the Year:
      </h4>
      <table style="width:100%; border:black 2px solid;">
        <tr>
          <th>
            Player
          </th>
          <th>
            Odds
          </th>
        </tr>
        <tr>
          <td>
            Aaron Donald
          </td>
          <td>
            3:1
          </td>
        </tr>
        <tr>
          <td>
            J.J. Watt
          </td>
          <td>
            7:2
          </td>
        </tr>
        <tr>
          <td>
            Kahlil Mack
          </td>
          <td>
            5:1
          </td>
        </tr>
        <tr>
          <td>
            Calais Campbell
          </td>
          <td>
            13:2
          </td>
        </tr>
        <tr>
          <td>
            Jalen Ramsey
          </td>
          <td>
            11:1
          </td>
        </tr>
      </table>
      <br />
      <br />
      <h4>
        Defensive Rookie of the Year:
      </h4>
      <table style="width:100%; border:black 2px solid;">
        <tr>
          <th>
            Player
          </th>
          <th>
            Odds
          </th>
        </tr>
        <tr>
          <td>
            Roquan Smith
          </td>
          <td>
            6:1
          </td>
        </tr>
        <tr>
          <td>
            Bradley Chubb
          </td>
          <td>
            8:1
          </td>
        </tr>
        <tr>
          <td>
            Denzel Ward
          </td>
          <td>
            19:2
          </td>
        </tr>
        <tr>
          <td>
            Tremaine Edmunds
          </td>
          <td>
            11:1
          </td>
        </tr>
        <tr>
          <td>
            Rashaan Evans
          </td>
          <td>
            16:1
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>