<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style='font-size: 200%; color: goldenrod;'>NFLevate</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <div id="nflTeamDropdown">
            <!-- empty div for displaying player dropdown-->
        </div>
        &nbsp;&nbsp;
        <div id="nflPlayerDropdown">
            <!-- empty div for displaying player dropdown-->
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;
         <div id="teamTitle">
            <!-- empty div for displaying team name-->
        </div>
        &nbsp;&nbsp;
        
    </div>
</nav>
<!-- END OF NAVBAR PANE !-->
<div class="container">

    <div class="row">

        <div class="col-lg-4">
            {{!-- PLAYER CARD START! --}}
            <div class="card bg-secondary" style="width: 18rem; opacity: 0.85;">
                <div id="logoImage"></div>
                {{!-- <img class="card-img-top" id="pImage" src="http://via.placeholder.com/286x286" alt="Player Image"> --}}
                <div class="card-body" style='background-color: lightgray; color: black;'>
                    <h5 class="card-title text-center" id="pName">Player Name</h5>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center" id="pPos">Position</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center" id="pNumb">Number</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">Height:
                                <span id="pHeight">#</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">Weight:
                                <span id="pWeight">#</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">High School:
                                <span id="pHighSchool">#</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">College:
                                <span id="pCollege">#</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">Draft Year:
                                <span id="pDraftYear">#</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">Draft Round:
                                <span id="pDraftRound">#</span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="card-text text-center">Rookie Year:
                                <span id="pRookYear">#</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- END PLAYER CARD --}}
       </div>



      
        <div class="col-8">
            <div class="card bg-secondary" style="opacity: 0.85;">
                <div class="card-body"  style="background-color:lightgray; color: black;">
                    <p id="news"></p>
                        {{!-- NEWS DIV --}}
                </div>
            </div>   
            <br>
            <div class="row">
                <div class="col-12">
                    <nav>
                        {{!-- Nav Header Items --}}
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-passing-tab" data-toggle="tab" href="#nav-passing" role="tab" aria-controls="nav-passing"
                                aria-selected="true"><strong>Passing</strong></a>
                            <a class="nav-item nav-link" id="nav-rushing-tab" data-toggle="tab" href="#nav-rushing" role="tab" aria-controls="nav-rushing"
                                aria-selected="false"><strong>Rushing</strong></a>
                            <a class="nav-item nav-link" id="nav-receiving-tab" data-toggle="tab" href="#nav-receiving" role="tab" aria-controls="nav-receiving"
                                aria-selected="false"><strong>Receiving</strong></a>
                            <a class="nav-item nav-link" id="nav-defensive-tab" data-toggle="tab" href="#nav-defensive" role="tab" aria-controls="nav-defensive"
                                aria-selected="false"><strong>Defensive Stats</strong></a>
                        </div>
                    </nav>
                    {{!-- tab content for nav headers, ensure there are one of each --}}
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-passing" role="tabpanel" aria-labelledby="nav-passing-tab"  style="background-color:lightgray; color: black; opacity: 0.85;">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">YEAR</th>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">TYPE</th>
                                        <th scope="col">G</th>
                                        <th scope="col">ATT</th>
                                        <th scope="col">COMP</th>
                                        <th scope="col">PCT</th>
                                        <th scope="col">YDS</th>
                                        <th scope="col">TD</th>
                                        <th scope="col">INT</th>
                                        <th scope="col">RATING</th>
                                    </tr>
                                </thead>
                                <tbody id="passing">
                                    {{!-- empty for display --}}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-rushing" role="tabpanel" aria-labelledby="nav-rushing-tab" style="background-color:lightgray; color: black; opacity: 0.85;">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">YEAR</th>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">TYPE</th>
                                        <th scope="col">G</th>
                                        <th scope="col">ATT</th>
                                        <th scope="col">YDS</th>
                                        <th scope="col">AVG</th>
                                        <th scope="col">LG</th>
                                        <th scope="col">TD</th>
                                    </tr>
                                </thead>
                                <tbody id="rushing">
                                    {{!-- empty for display --}}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-receiving" role="tabpanel" aria-labelledby="nav-receiving-tab" style="background-color:lightgray; color: black; opacity: 0.85;">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">YEAR</th>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">TYPE</th>
                                        <th scope="col">G</th>
                                        <th scope="col">REC</th>
                                        <th scope="col">YDS</th>
                                        <th scope="col">AVG</th>
                                        <th scope="col">LG</th>
                                        <th scope="col">TD</th>                                        
                                    </tr>
                                </thead>
                                <tbody id="receiving">
                                    {{!-- empty for display --}}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="nav-defensive" role="tabpanel" aria-labelledby="nav-defensive-tab" style="background-color:lightgray; color: black; opacity: 0.85;">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">YEAR</th>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">TYPE</th>
                                        <th scope="col">G</th>
                                        <th scope="col">TKL</th>
                                        <th scope="col">AST</th>
                                        <th scope="col">SACKS</th>
                                        <th scope="col">INT</th>
                                        <th scope="col">PASS DEF</th>
                                        <th scope="col">FORCED FUM</th>
                                    </tr>
                                </thead>
                                <tbody id="defense">
                                    {{!-- empty for display --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/player.js"></script>